# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/lib/firebase_options.dart
/firebase.json

# iOS/XCode
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/engine
ios/Flutter/flutter_assets
ios/Flutter/Generated.xcconfig
ios/Flutter/LastUpgradeCheck.txt
ios/Runner.xcworkspace/xcshareddata/
ios/Runner.xcworkspace/xcuserdata/
ios/*.xcworkspace/contents.xcworkspacedata
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist
/.firebaserc
/.firebase/phyto-glow/hosting/.last_build_id
/.firebase/phyto-glow/hosting/assets/AssetManifest.bin
/.firebase/phyto-glow/hosting/assets/AssetManifest.bin.json
/.firebase/phyto-glow/hosting/canvaskit/chromium/canvaskit.js
/.firebase/phyto-glow/hosting/canvaskit/canvaskit.js
/.firebase/phyto-glow/hosting/canvaskit/chromium/canvaskit.js.symbols
/.firebase/phyto-glow/hosting/canvaskit/canvaskit.js.symbols
/.firebase/phyto-glow/hosting/canvaskit/chromium/canvaskit.wasm
/.firebase/phyto-glow/hosting/canvaskit/canvaskit.wasm
/.firebase/phyto-glow/hosting/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/.firebase/phyto-glow/hosting/favicon.png
/.github/workflows/firebase-hosting-pull-request.yml
/.firebase/phyto-glow/hosting/flutter.js
/.firebase/phyto-glow/hosting/flutter_bootstrap.js
/.firebase/phyto-glow/hosting/flutter_service_worker.js
/.firebase/phyto-glow/hosting/assets/FontManifest.json
/.firebase/hosting.LmZpcmViYXNlL3BoeXRvLWdsb3cvaG9zdGluZw.cache
/.firebase/phyto-glow/hosting/icons/Icon-192.png
/.firebase/phyto-glow/hosting/icons/Icon-512.png
/.firebase/phyto-glow/hosting/icons/Icon-maskable-192.png
/.firebase/phyto-glow/hosting/icons/Icon-maskable-512.png
/.firebase/phyto-glow/hosting/index.html
/.firebase/phyto-glow/hosting/assets/shaders/ink_sparkle.frag
/.firebase/phyto-glow/hosting/main.dart.js
/.firebase/phyto-glow/hosting/manifest.json
/.firebase/phyto-glow/hosting/assets/fonts/MaterialIcons-Regular.otf
/.firebase/phyto-glow/hosting/assets/NOTICES
/.firebase/phyto-glow/hosting/canvaskit/skwasm.js
/.firebase/phyto-glow/hosting/canvaskit/skwasm.js.symbols
/.firebase/phyto-glow/hosting/canvaskit/skwasm.wasm
/.firebase/phyto-glow/hosting/canvaskit/skwasm_heavy.js
/.firebase/phyto-glow/hosting/canvaskit/skwasm_heavy.js.symbols
/.firebase/phyto-glow/hosting/canvaskit/skwasm_heavy.wasm
/.firebase/phyto-glow/hosting/assets/shaders/stretch_effect.frag
/.firebase/phyto-glow/hosting/version.json
/.firebase/phyto-glow/hosting/canvaskit/wimp.js
/.firebase/phyto-glow/hosting/canvaskit/wimp.js.symbols
/.firebase/phyto-glow/hosting/canvaskit/wimp.wasm
